// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.table {
  width:100%;
  margin-bottom: 1rem;
  color: #212529;
}

.container {
  margin: 0 auto;
  text-align: center;
}
.row {
  margin: 0 auto;
  text-align: center;
}
.col-md-3 {
  margin: 0 auto;
  text-align: center;
}